/* 
Define this in your CSS 
.ease-inAnimation = Replace it by the name you want to give your animation
.easeinAnimObj = Assign this class to the elements to which you want to apply the animation
*/

.easeinAnimObj {
	position: relative;
	/* Chrome, Safari*/
	-webkit-animation-name: ease-inAnimation;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Mozilla */	
	-moz-animation-name: ease-inAnimation;
	-moz-animation-duration: 5s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;	
	/* Standard syntax */
	animation-name: ease-inAnimation;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes ease-inAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 200px;
		top: 0;
	}
}

/* Firefox */
@-moz-keyframes ease-inAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 200px;
		top: 0;
	}
}

/* Standard syntax */
@keyframes ease-inAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 200px;
		top: 0;
	}
}/* 
Define this in your CSS 
.ease-inAnimation = Replace it by the name you want to give your animation
.easeinAnimObj = Assign this class to the elements to which you want to apply the animation
*/

.easeinAnimObj {
	position: relative;
	/* Chrome, Safari*/
	-webkit-animation-name: ease-inAnimation;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Mozilla */	
	-moz-animation-name: ease-inAnimation;
	-moz-animation-duration: 5s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;	
	/* Standard syntax */
	animation-name: ease-inAnimation;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes ease-inAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 200px;
		top: 0;
	}
}

/* Firefox */
@-moz-keyframes ease-inAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 200px;
		top: 0;
	}
}

/* Standard syntax */
@keyframes ease-inAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 200px;
		top: 0;
	}
}<a href="games/projects.html">Game Development Projects</a>
		<a href="#">See My Art</a>
		<a href="#">Hobbies And Interests</a>@charset "utf-8";
.navigation {
	float: left;
	opacity: 1;
	clear: none;
}
.home-header {
	text-align: center;
}
.home-name {
	margin-bottom: -19px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	text-align: center;
	font-size: 64px;
}
